:root{
    --accent-col:green;
    --nav-upper:#f5f5f5;
    --color-light:white;
    --color-dark:black;
    --home-slider:0;
    --hero-slider:0;
    --featured-slide:0
}
.mr-1{
    margin-right: 1rem;
}
.cart-container{
    padding: 1rem;
}
.cart-container.no-item{
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-header{
    display: grid;
    grid-template-columns:.3fr 3fr 1fr 1fr 1fr;
    padding: 1rem ;
    margin: 1rem 0;
    background-color: #f5f5f5;
    
}
.cart-list-item{
    display: grid;
    grid-template-columns:.3fr 3fr 1fr 1fr 1fr;
    padding: 1rem ;
    border-bottom: 2px solid #f5f5f5;
    

}
.cart-list-item>:nth-child(2){
    display: flex;
   
}
.list-item-img{
    margin-right: 1rem;
}
.list-item-img>img{
    width: 40px;
}
.cart-total{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-between;
}
.cart-total span{
    color: var(--accent-col);
    font-size: 20px;
    font-weight: 600;
}
.cart-total>div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cart-total button{
    width: 200px;
    padding: 1rem;
    margin-left: 1rem;
}
.cart-total input{
    margin-right:1rem ;
}
.cart-total>:first-child>div{
    cursor: pointer;
}
.cart-item-quantity{
    display: flex;
    
}
.cart-item-quantity>p{
    margin: 0 .5rem;
}
.cart-item-quantity>:not(p){
    border: 1px solid gray;
    border-radius: 3px;  
}
.cart-item-quantity>:not(p):hover{
    background-color:#777777;
    color: var(--color-light);
}
@media (max-width:576px) {
    .cart-total{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .cart-total>:first-child{
        width: 60%;
        grid-template-columns: 30px 1fr 1fr 1fr;
        margin-right: 0;
    }
    .cart-total>:nth-child(2){
        width: 40%;
        
    }
    
    .cart-total>div{
        width: 100%;
    }
    .cart-total>:last-child>button{
        align-self: flex-end;
    }
    .cart-total>:last-child{
        display: flex;
        justify-content: end;
        margin-top:1rem;
    }
    .list-header>p{
        display: none;
    }
    .list-header>:nth-child(2){
        display: block;
    }
    .unit-price{
        display: none;
    }
    .cart-list-item{
        display: grid;
        grid-template-columns: 30px 1fr 1fr;
        row-gap: 1rem;
        grid-template-areas: 
        '. img img'
        '. quantity price';
    }
    .cart-list-item>:nth-child(2){
        display: grid;
        grid-template-columns: 1fr 2fr;
       grid-area: img;

    }
    .list-item-img>img{
        width: 100%;
        height: auto;
        object-fit: contain;
        aspect-ratio: 1/1;

    }
    .cart-item-quantity{
        grid-area: quantity;
        display: flex;
        justify-content: flex-end;
    }
    .cart-list-item>:last-child{
        grid-area: price;
        display: flex;
        justify-content: end;
    }

    
  
    
    
}