*{
    margin: 0;
    box-sizing: border-box;
}
.billing-form{
    width: 100%;
    
}
.billing-form>:first-child{
    padding: 1.5rem 1rem;
}
.billing-input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem 0;
   
}
.input-item>textarea{
    resize: none;
    background-color: #f5f5f5;
    border: none;
    padding: 1rem;
    height: 100px;
  
}

.input-item.span{
    grid-column: 1/3;
}
.input-item.invalid>input{
    border-bottom: 5px red solid;
    color: red;
   
}



.input-item{
    display: flex;
    flex-direction: column;
   margin-bottom: 1.5rem;
   padding: 0 .5rem;

}
.input-item>input,.input-item>select{
    padding: 1rem .5rem;
    border: none;
    background-color: #f5f5f5;
}
.your-order>div{
    padding: 1.5rem 1rem;
    border-bottom: 1px solid #f5f5f5;
    display: flex;
    justify-content: space-between;

}
.your-order>div>:last-child,.your-order span{
    font-weight: 700;
}
.checkout-container{
    display: grid;
    grid-template-columns: 1fr .7fr;
    gap: 3rem;
}

.wallet{
    display: flex;
    flex-direction: column;
    border: 5px solid #f5f5f5;
  
}
.wallet>div{
    padding: 1.5rem 0 0 0;
    display: flex;
    justify-content: space-between;
}
.balance{
    font-size: 2rem;
    color: var(--color-dark);
}
.balance.kurang{
    color: #bbbbbb;
}






@media (max-width:768px) {
    .checkout-container{
        grid-template-columns: 1fr;
    }
    
}
