

.login-form{
    max-width: 600px;
    min-width: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 3rem auto;
  
}
.login-form input{
    border: #f5f5f5 solid 2px;
    padding: 1rem .5rem;
    margin-bottom: 1.5rem;
    width: 100%;

}
.login-form>label{
    font-weight: 600;
    margin-bottom: 5px;
}
.login-form>button{
    margin-top: .5rem;
    border-radius: 1px;
}
.to-register{
    margin: 1.5rem auto;
    font-size: 14px;
    font-weight: 600;
    color: black;

}
.email.invalid{
    border-bottom: 3px solid var(--col-danger);

}
.input-container{
    position: relative;
    margin-bottom: 1.7rem;
}
.input-container>input{
    margin-bottom: 0;
}
.password-icon{
    position: absolute;
    top: 0;
    min-height: 100%;
    display: flex;
    align-items: center;
    right: 1rem;
    font-size: 1.2rem;
    color: rgb(150, 148, 148);
    
}
.error-message{
    position:absolute;
    font-size: .8rem;
    color:var(--col-danger);
    height: 0;
    overflow: hidden;
  
}
.error-message.display{
    height: auto;
    
    
}