*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --accent-col:green;
    --nav-upper:#f5f5f5;
    --color-light:white;
    --color-dark:black;
}
.shop-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 100%;
    gap: 1rem;
    
    
}
.shop-item>.grid{
    
    gap: .5rem;
    width: 100%;
    margin: 0;

}

.shop-category{
    margin: 0;
    min-width: 100%;
    overflow: hidden;
    
}
.filter-box{
    padding: 1rem 0 2rem 0;
    border-bottom: 3px solid #f5f5f5;
    margin: auto;
    
}
.filter-box>p{
    margin-bottom: 1rem;
}

.category-item,.rating-item{
    padding: .5rem;
    display: flex;
    align-items: center;
}
.category-item:hover,.rating-item:hover{
    background-color: #f5f5f5;
    
}
.category-item>input{
    margin-right:.5rem;
}
.rating-item{
    color:var(--accent-col);
    font-size: 1.5rem;
    width: max-content;
}
.rating-item.active{
    border: 1px solid var(--accent-col);
}
.price-alert.active{
    display: flex;
    grid-column: 1/3;
    color: var(--accent-col);
    font-size: 13px;
    text-align: center;
    width: 100%;
    margin: .5rem 0;

}
.price-alert{
  display: none;
}
.price-range{
   padding-right: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
}
.price-range>p{
    grid-column: 1/3;
}
.price-range>input{
    width: 100%;
    padding: 6px 3px;
    text-align: center;
}

.price-range>button{
    grid-column: 1/3;
    margin: 0;
    padding: .5rem;
    background-color: var(--accent-col);
}
